@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {

}

input {
    font: inherit;
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

button {
    border: none;
    background: initial;
    outline: none;  /* ---- don`t forget indicator for focus state. ---- */
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}


html {
    /*
     * 100% is 16px if font size is set to the default value;
     * 62.5% of 16px is 10px, so 1rem = 10px.
     */
     font-size: 62.5%;
     scroll-behavior: smooth;
}

.page {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.4rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(133,6,50,1) 77%, rgba(199,23,23,1) 100%); 

    scrollbar-width: none;
}

.page:-webkit-scrollbar {
    display: none;
}

.page__app {
    height: 100vh;
    height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

button[type="button"] {
    cursor: pointer;
}

.header {
    grid-row: 1 / 2;

    min-height: 6.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.6rem;
}

.logo {
    margin-right: 1.6rem;
}

.logo__text {
    font-size: 2.2rem;
    font-weight: 900;
    color: white;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.nav__item {

}

.nav__link {
    color: rgba(255, 255, 255, .75);
    transition: color .4s;
}

.nav__btn {
    display: inline-block;
    padding: .4rem 1.2rem;
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .75);
    border-radius: .6rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background .4s, color .4s;
    pointer-events: none;
}

.nav__icon {
    pointer-events: auto;
}

.nav__link:hover,
.nav__link:focus,
.nav__btn:hover,
.nav__btn:focus {
    color: rgba(255, 255, 255, 1);
}

.nav__btn:hover,
.nav__btn:focus {
    background: rgba( 0, 0, 0, .75);
}

.nav__btn--search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;   
}

.nav__btn--search::after {
    content: 'Type / to search';
    font-size: 1.6rem;
    pointer-events: auto;
    opacity: 0;
    display: none;
}

.nav__btn--search:hover::after {
    opacity: 1;
    display: block;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    outline: .2rem solid rgba(99, 99, 99, .5);
    border-radius: .6rem;
    padding: 1.6rem;
}

.search__label {
    user-select: none;
    pointer-events: none;
}

.search__input {
    width: 100%;
}


.main-content {
    grid-row: 2 / 3;
}

.library {
    padding-top: 13rem;
}

.footer {
    grid-row: 3 / 4;
    
    min-height: 6.5rem;
    display: grid;
    place-items: center;
    color: rgba(255, 255, 255, 1);
}

.copyright {

}


.status-btn {
    display: inline-block;
    padding: .4rem 1.2rem;
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .75);
    border-radius: .6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background .4s, color .4s;
}

.status-btn:hover {
    background: rgba(0, 0, 0, .75);
    color: rgba(255, 255, 255, 1)
}

.status-btn[data-jsx-status]::after {
    content: attr(data-jsx-status);
}

/* ----- components ----- */
.g-card {
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
    grid-auto-rows: auto;
    gap: 1.6rem;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: null;
    color: null;
    word-wrap: break-word;
    background: rgba(255, 255, 255, .4);
    background-clip: border-box;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .6rem;
    box-shadow: null;
}

.card__header {
    padding: calc(1.6rem * .5) 1.6rem;
    margin-bottom: 0;
    color: null;
    background: null;
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.card__header:first-child {

}

.card__body {
    flex: 1 1 auto;
    padding: calc(1.6rem * .5) 1.6rem;
    color: null;
}

.card__title {
    margin-bottom: calc(1.6rem * .5);
    color: null;
}

.card__subtitle {
    margin-top: calc(-.5 * 1.6rem);
    margin-bottom: 0;
    color: null;
}

.card__text:last-child {
    margin-bottom: 0;
}

.card__footer {
    padding: calc(1.6rem * .5) 1.6rem;
    color: null;
    background-color: null;
    border-top: .1rem solid rgba(0, 0, 0, .2);
}

.card__footer:last-child {
    border-radius: .6rem;
}

.card__img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.6rem;
    border-radius: .6rem;
}

.card__img,
.card__img-top,
.card__img-bottom {
    width: 100%;
}

.card__img,
.card__img-top {

}

.card__img,
.card__img-bottom {
   
}

.modal {
    /* display: block; */
    inset: 0;
    width: 100%;
    border-radius: .6rem;
    border: .1rem solid rgba( 0, 0, 0, .75);
    animation: fade-out 500ms forwards;
}

.modal__content {
    padding: 1.6rem;
    font-family: 'Roboto';
}

.modal__header {
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__title {
    font-size: 2.8rem;
    font-weight: 400;
}

.modal__header {
    margin-bottom: 1.6rem;
}

.modal__body {
    margin-bottom: 1.6rem;
    padding-top: 1rem;
}

.modal__footer {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
}

.modal[open] {
    animation: fade-in 200ms forwards;
}

.modal[open]::backdrop {
    animation: fade-in 200ms forwards;
}

.modal::backdrop {
    background: rgba(0, 0, 0, .5);
}

.form {

}

.form__label {
    display: block;
}

.form__input {
    display: block;
    margin-bottom: 1.6rem;
    padding: .8rem;
    border-radius: .6rem;
    transition: outline .4s;
    width: 100%;
    outline: .2rem solid rgba(99, 99, 99, .5);
}

.form__input:focus {
    outline: .2rem solid rgba(99, 99, 99, 1);
}

.btn {
    background: rgba( 0, 0, 0, .75);
    color: rgba(255, 255, 255, .75);
    font-size: 1.6rem;
    padding: .6rem 1.2rem;
    border-radius: .6rem;
    transition: all .4s;
}

.btn:hover {
    background: rgba( 0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/* ----- utilities ----- */
.d-flex {
    display: flex;
}

.align-items {
    align-items: var(--align-items, center);
}

.justify-content {
    justify-content: var(--justify-content, center);
}

.flex-direction {
    flex-direction: var(--flex-direction, column);
}

.gap {
    gap: var(--gap-sz, 1.6rem);
}

.content-grid {
    --padding-inline: 1.6rem;
    --content-max-width: 90rem;
    --breakout-max-width: 120rem;
  
    --breakout-size: calc(
        (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
  
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
        )
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

/* ----- keyframes ----- */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    1000% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

/* ----- media queries ----- */
@media (min-width: 576px) {
    .modal {
        max-width: 50rem;
        margin-top: 6.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .modal.modal--sm {
        max-width: 30rem;
    }
}

@media (min-width: 992px) {
    .modal.modal--lg {
        max-width: 80rem;
    }
}

@media (min-width: 1200px) {
    .modal.modal--xl {
        max-width: 114rem;
    }
}
